.booking-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 16px;
  gap: 8px;
}

.booking-send {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid dimgray;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.1em;
  align-self: flex-end;
  transition: 200ms;
  font-weight: 500;
}

.booking-send:hover {
  background-color: rgb(200, 200, 200);
}

.booking-label {
  display: flex;
  justify-content: space-between;
}

.booking-error {
  border-color: crimson;
}

.error-label {
  color: crimson;
  align-self: flex-end;
}
