body {
  font-family: "Halant";
  font-weight: 300;
  color: dimgray;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: calc(25% - 8px);
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
